<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h2>MusicApp</h2>
      <div class="links">
        <% if logged_in? %>
          <form action="<%= sessions_url %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Logout">
          </form>
          <a href="<%= bands_url %>">See All Bands</a>
        <% else %>
          <a href="<%= new_sessions_url %>">Sign In</a>
          <a href="<%= new_user_url %>">Sign Up</a>
        <% end %>
    </div>
    
    </header>
    <%= yield %>
  </body>
</html>
